.card{
    width: 300px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
.image1{
    width: 100%;
    height: 200px;
    margin-top:-10px ;
    border-radius: 25px;
}
.image2{
    width: 100%;
    height: 200px;
    mix-blend-mode:color-dodge;
    
}

h1{
    color: #d56f3e;
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
